.app {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 80px; /* Add padding to account for fixed header */
  flex-grow: 1;
}

/* App header styles */
.app-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: inherit;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.header-controls {
  display: flex;
  gap: 10px;
}

.app-header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.theme-toggle,
.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  transition: color 0.3s, transform 0.2s;
  padding: 5px;
  border-radius: 50%;
}

.theme-toggle:hover,
.sidebar-toggle:hover {
  transform: scale(1.1);
}

/* Light theme */
.app.light {
  background-color: #f0ffeb;
  color: #4a5568;
}

.app.light .app-header {
  background-color: inherit;
  color: #006d77;
}

.app.light .theme-toggle,
.app.light .sidebar-toggle {
  color: #006d77;
}

.app.light .theme-toggle:hover,
.app.light .sidebar-toggle:hover {
  color: #073b4c;
}

.app.light .event-manager {
  background-color: #f6fff8;
  color: #4a5568;
}

.app.light input {
  background-color: #f1faee;
  color: #4a5568;
  border: 1px solid #b3d4ff;
}

/* Dark theme */
.app.dark {
  background-color: #2d3748;
  color: #e2e8f0;
}

.app.dark .app-header {
  background-color: #1a202c;
  color: #5a67d8;
}

.app.dark .theme-toggle,
.app.dark .sidebar-toggle {
  color: #a0aec0;
}

.app.dark .theme-toggle:hover,
.app.dark .sidebar-toggle:hover {
  color: #7f9cf5;
}

.app.dark .event-manager {
  background-color: #3a4b63;
  color: #e2e8f0;
}

.app.dark input {
  background-color: #4a5568;
  color: #e2e8f0;
  border: 1px solid #63728f;
}